<<<<<<< HEAD
/* font-family: 'Prompt', sans-serif;
font-family: "Montserrat", sans-serif; 
font-family: 'Barlow Condensed', sans-serif; */
body {
  font-family: "Montserrat", sans-serif;
}

/* Fonts example */

.montBold {
  font-weight: 700;
}
.promptReg {
  font-family: "Prompt", sans-serif;
}
.promptBold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
}

.barlowReg {
  font-family: "Barlow Condensed", sans-serif;
}
.barlowBold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

/* Colors example */
/* #279135 - primary green
#965316 - primary brown
#FCE8A6 - header background */

.bg-primary-green {
  background-color: #279135;
}

.bg-primary-brown {
  background-color: #965316;
}

.bg-primary-lightBrown {
  background-color: #fce8a6;
}

.text-primary-green {
  color: #279135;
}
.text-primary-brown {
  color: #965316;
}
.text-primary-lightBrown {
  color: #fce8a6;
}


=======
/* font-family: 'Prompt', sans-serif;
font-family: "Montserrat", sans-serif; 
font-family: 'Barlow Condensed', sans-serif; */
body {
  font-family: "Montserrat", sans-serif;
}

/* Fonts example */

.montBold {
  font-weight: 700;
}
.promptReg {
  font-family: "Prompt", sans-serif;
}
.promptBold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
}

.barlowReg {
  font-family: "Barlow Condensed", sans-serif;
}
.barlowBold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

/* Colors example */
/* #279135 - primary green
#195D22 - primary green dark
#965316 - primary brown
#FCE8A6 - header background */

.bg-primary-green {
  background-color: #279135;
}

.bg-primary-brown {
  background-color: #965316;
}

.bg-primary-lightBrown {
  background-color: #fce8a6;
}

.text-primary-green {
  color: #279135;
}
.text-primary-brown {
  color: #965316;
}
.text-primary-lightBrown {
  color: #fce8a6;
}

/* Navigation bar */
.navbar-light .navbar-nav .nav-link {
  color: #965316;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #279135;
}
.navbar-light .navbar-toggler {
  color: rgba(39, 145, 53, 0.55);
  border-color: rgba(39, 145, 53, 0.1);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(150, 83, 22, 0.55)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Main buttons */
.btn-primary-custom {
  color: #fff;
  background-color: #279135;
  border-color: #279135;
}
.btn-primary-custom:hover {
  color: #fff;
  background-color: #195d22;
  border-color: #195d22;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(39, 145, 53, 0.25);
}
>>>>>>> 20f81a6f1043bbcd5083840f77d18594cee98092

/* ------------------------------------------------OUR STORY CSS-------------------------------------------------- */

.textOnImg {
  color: white;
}

#btn-location {
  color: white;
  border-radius: 8px;
  padding: 15px 50px;
}

.text-justify {
  text-align: justify;
}

.mascot {
  float: left;
  padding: 25px 0 25px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px){
  .card {
      margin-bottom: 25px;
  }
}

.overlayed-img-1 {
  position: relative;
  top: -10px;
  left: 10px;
  z-index: 1;
}

.overlayed-img-2 {
    position: relative;
    top: 140px;
    left: -100px;
    z-index: 2;
}

.overlayed-img-3 {
  position: relative;
  top: -10px;
  left: 390px;
  z-index: 3;
}
